:root{
   --plia-font-size: 1.5rem;
   --plia-font-size-small: 1rem;
   --color60: #FAFAFA;
   --color30: #222222;
   --color10: #F94A04;
   --color60-shade: #eee;
   --sectionpadding-big: 2rem;
   --sectionpadding-small: 1.5rem;
   --sectionpadding-medium: 1rem;
   --color10-shade: #F93404;
   --border-radius-small: .6rem;
   --border-radius-big: 1rem;
   --border-radius-circle: 50%;
   --div-padding-full: 1rem;
   --column-gap-main: 1.5rem;
   --article-header: 2.4rem;
   --article-header-medium: 2rem;
   --article-header-small: 1.6rem;
   --transform-size-small: scale(1.05);
   --transform-size-medium: scale(1.15);
   --transform-size-big: scale(1.4);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
body{
    position: relative;
}
a, p, li{
    font-size: var(--plia-font-size);
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
}
.header{
    min-height: fit-content;
    background: var(--color30);
    padding: var(--sectionpadding-big);
    align-self: center;
    width: 100%;
}
.section1{
    background: var(--color60-shade);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: var(--sectionpadding-small);
    min-height: fit-content;
}
.section2{
    min-height: fit-content;
    background: var(--color60);
    display: flex;
    column-gap: var(--column-gap-main);
}
.section3{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: var(--color60-shade);
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.footer{
    min-height: fit-content;
    background: var(--color30);
    padding: var(--sectionpadding-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainheader{
    padding: var(--sectionpadding-small);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mainheader__header-nav {
    min-height: fit-content;
}
.mainheader__header-nav i{
    color: #FAFAFA;
    cursor: pointer;
    font-size: 2.5rem;
}
.mainheader__header-nav i:hover{
    color: #F94A04;
}
.header form{
    width: 80%;
    margin: .5rem 0;
    background-color: #F94A04;
    border-radius: 2rem;
    overflow: hidden;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    flex-wrap: nowrap;
    align-items: center;
}
.header form button{
    background-color: #F94A04;
    padding: var(--div-padding-full);
    border: none;
    outline: none;
    color: #FAFAFA;
    width: 10%;
}
.header form input{
    width: 90%;
    padding: var(--div-padding-full);
    font-size: var(--plia-font-size);
    color: var(--color60);
    border: none;
    outline: none;
    border-bottom: 1.5px solid var(--color10);
    background-color: #222222;
}
.mainheader__header-nav a:hover svg{
   transform: var(--transform-size-big);
   -webkit-transform: var(--transform-size-big);
   -moz-transform: var(--transform-size-big);
   -ms-transform: var(--transform-size-big);
   -o-transform: var(--transform-size-big);
}
.mainheader__header-nav a:nth-child(2){
    margin-left: 2rem;
}
.mainheader__logobox{
    width: fit-content;
    height: fit-content;
}
.mainheader__signupbtn{
    background-color: var(--color10);
    color: var(--color60);
    padding: 1.3rem 1.1rem;
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    cursor: pointer;
    -o-border-radius: var(--border-radius-big);
}
.mainheader__signupbtn:hover{
    background-color: var(--color10-shade);
}
.ads_bar{
    height: 25vh;
    width: 100%;
    background-color: #F94A04;
}
.header__dropdownlinks{
    padding: var(--div-padding-full);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 75%;
}
.header__dropdownlinks .headerlinks{
    display: flex;
    cursor: pointer;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    align-items: flex-start;
    padding: var(--div-padding-full);
    flex-direction: column;
}
.header__dropdownlinks-6{
    position: relative;
    width: fit-content;
    display: inline-block;
}
.dropbtn {
    background-color: inherit;
    color: white;
    cursor: pointer;
    padding: var(--div-padding-full);
    font-size: var(--plia-font-size);
    border: none;
  }
  .dropbtn:hover{
    background-color: var(--color10);
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
  .header__dropdownlinks-6 .header__dropdownlinks-content{
    display: none;
}
.header__dropdownlinks-6:hover .header__dropdownlinks-content{
    position: absolute;
    background-color: var(--color30);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: var(--div-padding-full);
}

  .header__dropdownlinks-6 .header__dropdownlinks-content a{
    padding: var(--div-padding-full);
    width: 100%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
  .header__dropdownlinks-6 .header__dropdownlinks-content a:hover{
    background-color: var(--color10);

  }
.header__dropdownlinks .headerlinks:hover{
    color: var(--color60);
    border-radius: var(--border-radius-big);
    background-color: var(--color10);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.header__dropdownlinks a:hover .dropdown_svgs{
    display: block;
}
.header__dropdownlinks a .dropdown_svgs{
    margin: .1rem .3rem 0 0;
    display: none;
}
.sticky{
    position: fixed;
    z-index: 30;
    background-color: rgba(34, 34, 34, .95);
    backdrop-filter: blur(10px);
}
.body_container{
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.body_left{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    min-height: fit-content;
}
.body_right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}
.header__menu-sidebar{
    padding: 2rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, black, var(--color30));
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}
.hidden{
    display: none;
}
.header__menu-sidebar .header__menu-sidebar-div1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    padding: var(--div-padding-full);
    align-items: center;
}
.header__menu-sidebar .sidebar-input a:hover{
    transform: var(--transform-size-big);
    -webkit-transform: var(--transform-size-big);
    -moz-transform: var(--transform-size-big);
    -ms-transform: var(--transform-size-big);
    -o-transform: var(--transform-size-big);
}
.header__menu-sidebar-div1 .sidebar-input-div1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    width: fit-content;
    position: relative;
    width: 80%;
    justify-content: flex-end;
}
.sidebar-input-div1 a{
    margin-left: 1rem;
}
.sidebar-input-div1 input{
    width: 80%;
    padding: var(--div-padding-full);
    font-size: var(--plia-font-size);
    color: var(--color60);
    border: none;
    outline: none;
    margin-bottom: .7rem;
    border-bottom: 1.5px solid var(--color60);
    background: transparent;
}
.sidebar-input-div1 label{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, var(--color60), white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--plia-font-size);
    pointer-events: none;
    padding: var(--div-padding-full);
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}
.sidebar-input-div1 input:focus > label{
    top: -2rem;
    font-size: smaller;
    left: 0;
    animation: 1s label ease-out;
    -webkit-animation: 1s label ease-out;
}
@keyframes label{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.header__menu-sidebar-div1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.header__menu-sidebar-div1 .header__menu-sidebar-div1-subdiv2{
    display: flex;
    flex-direction: column;
    padding: var(--div-padding-full);
    justify-content: flex-start;
    height: 100%;
}
.header__menu-sidebar-div1 .header__menu-sidebar-div1-subdiv2 h1{
    padding-bottom: 1.4rem;
    font-size: var(--article-header);
    font-weight: 850;
    color: var(--color60);
}
.header__menu-sidebar-div1-subdiv2 a{
    padding-bottom: 1.5rem;
    color: var(--color60);
}
.header__menu-sidebar-div1-subdiv2 a:hover{
    color: var(--color10);
    transform: var(--transform-size-small);
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
    -webkit-transform: var(--transform-size-small);
    -moz-transform: var(--transform-size-small);
    -ms-transform: var(--transform-size-small);
    -o-transform: var(--transform-size-small);
}
.header__menu-sidebar-div1-subdiv3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--div-padding-full);
    height: 100%;
}
.header__menu-sidebar-div1-subdiv3 h1{
    padding-bottom: 1.4rem;
    font-size: var(--article-header);
    font-weight: 850;
    color: var(--color60);
}
.header__menu-sidebar-div1-subdiv3 a{
    padding-bottom: 1.5rem;
    color: var(--color60);
}
.header__menu-sidebar-div1-subdiv3 a:hover{
    color: var(--color10);
    transform: var(--transform-size-small);
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
    -webkit-transform: var(--transform-size-small);
    -moz-transform: var(--transform-size-small);
    -ms-transform: var(--transform-size-small);
    -o-transform: var(--transform-size-small);
}
.border-gradient-top{
    border:  white 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .border-gradient-top-dark{
    border:  #22222231 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .border-gradient-side-dark{
    border:  var(--color30) 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .border-gradient-leftside--lightdark{
    border:  #22222231 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .border-gradient-bottom--lightdark{
    border:  #22222272 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .border-gradient-side{
    border:  white 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .header__menu-sidebar-div2{
    width: 100%;
    padding: var(--div-padding-full);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .header__menu-sidebar-div2 p{
    color: var(--color60);
    padding-top: 1rem;
    max-width: 30%;
  }
  .header__menu-sidebar-div2-subdiv1{
    width: fit-content;
    padding: var(--div-padding-full);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__menu-sidebar-div2-subdiv1 h1{
    padding-bottom: 1.7rem;
    font-size: var(--article-header);
    font-weight: 850;
    color: var(--color60);
  }
  .header__menu-sidebar-div2-subdiv1-subdiv {
    width: 100%;
  }
  .header__menu-sidebar-div2-subdiv1-subdiv a{
    padding: var(--div-padding-full);
  }
  .smallerdivs a:active{
    background-color: #eeeeee37;
  }
  .larger__div{
    padding: var(--div-padding-full);
    cursor: pointer;
    grid-area: 1 / 1 / -1 / 2;
  }
  .larger__div img {
    height: 90vh;
    width: 100%;
  }
  .smallerdivs{
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .smallerdivs .smaller__div{
    display: flex;
    flex-wrap: nowrap;
    padding: var(--div-padding-full);
    cursor: pointer;
  }
  .section1__div1 .larger__div img{
    height: 80%;
    width: 100%;
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.section1__div1 a div h1{
    font-size: var(--article-header-medium);
    background-color: #F94A04;
    color: #eee;
    text-transform: uppercase;
    padding: var(--div-padding-full);
}
.section1__div1 a div h2{
    font-size: var(--article-header-medium);
    padding: var(--div-padding-full);
    color: black;
}
.section1__div1 a div p{
    padding: var(--div-padding-full);
    color: black;
}
.section1__div2 a img{
    height: 35vh;
    width: 35%;
    margin-right: 1rem;
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.section1__div2 a div h1{
    font-size: var(--article-header-medium);
    background-color: #F94A04;
    color: #eee;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    text-transform: uppercase;
    padding: var(--div-padding-full);
}
.section1__div2 a div h2{
    font-size: var(--article-header-medium);
    width: fit-content;
    padding: var(--div-padding-full);
    color: black;
    max-width: 25vw;
}
.section1__div2 a div p{
    padding: var(--div-padding-full);
    color: black;
}
.section2 div .headers{
    font-size: 2.1rem;
    padding: 2rem;
    text-transform: capitalize;
    font-weight: 750;
}
.section2 div{
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.section2 div .normal-divs{
    padding: var(--div-padding-full);
}
.section2 div .normal-divs:hover{
    background-color: #eee;
}
.section2 div .normal-divs a{
    display: flex;
    flex-wrap: nowrap;
    padding: var(--div-padding-full);
    width: fit-content;
    cursor: pointer;
}
.section2 div .normal-divs a img{
    height: 15rem;
    border-radius: var(--border-radius-big);
    -webkit-border-radius: var(--border-radius-big);
    -moz-border-radius: var(--border-radius-big);
    -ms-border-radius: var(--border-radius-big);
    -o-border-radius: var(--border-radius-big);
}
.section2 div .normal-divs a div{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.section2 div .normal-divs div{
    display: flex;
    width: 70%;
    margin-left: .2rem;
}
.section2 div .normal-divs div img{
    height: 3rem;
    border-radius: var(--border-radius-circle);
    margin-right: 1.2rem;
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}
.section2 div .normal-divs div p span{
    font-weight: 800;
}
.section2 div .section2__div1__link{
    margin-left: 2.3rem;
    padding: var(--div-padding-full);
    color: black;
    display: flex;
    flex-wrap: nowrap;
}
.section2 div .section2__div2__link{
    margin-left: 2.3rem;
    color: black;
    padding: var(--div-padding-full);
    display: flex;
    flex-wrap: nowrap;
}
.section2 div div a div h1{
    text-transform: uppercase;
    padding: 1rem;
    width: 70%;
    background-color: #F94A04;
    color: #eee;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    font-size: var(--plia-font-size);
}
.normal-divs__releasedate{
    font-size: 1.2rem;
    color: black;
}
.section2 div div a div h2{
    padding: 1.6rem 0;
    color: black;
}
.sec2__susbribe-box{
    padding: var(--div-padding-full);
    box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    -webkit-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    -moz-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    height: fit-content;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: var(--color60);
    border:  #FF8333 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    width: 35vw;
  }
  .sec2__susbribe-box-darker{
    padding: var(--div-padding-full);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color30);
    width: 30vw;
  }
  .sec2__susbribe-box-darker h1{
    padding: 1rem 0 2.5rem 0;
    font-size: var(--article-header);
    font-weight: 850;
    color: var(--color60);
  }
  .sec2__susbribe-box-darker .sec2__susbribe-box-input-light{
    width: 79%;
    padding: var(--div-padding-full);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec2__susbribe-box-darker button{
    min-width: 79%;
    padding: 1.5rem 1rem;
    margin: 1.2rem 0;
    text-transform: uppercase;
    background-color: var(--color10);
    color: var(--color60);
    border: none;
  }
  .sec2__susbribe-box-darker button:hover{
    background-color: var(--color10-shade);
  }
  .sec2__susbribe-box h1{
    padding: 1rem 0 2.5rem 0;
    font-size: var(--article-header);
    font-weight: 850;
  }
  .sec2__susbribe-box p{
    padding: 1rem 0 1rem 0;
    max-width: 70%;
  }
  .sec2__susbribe-box .sec2__susbribe-box-input{
    min-width: 70%;
    padding: var(--div-padding-full);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec2__susbribe-box .sec2__susbribe-box-input:focus{
    outline: var(--color10) 1px solid;
  }
  .sec2__susbribe-box-darker .sec2__susbribe-box-input-light:focus{
    outline: var(--color10) 1px solid;
  }
  .sec2__susbribe-box .sec2__susbribe-box-input::placeholder{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    -webkit-transform: translate(-20%, -50%);
    -moz-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    -o-transform: translate(-20%, -50%);
}
  .sec2__susbribe-box button{
    min-width: 70%;
    padding: 1.5rem 1rem;
    margin: 1.2rem 0;
    text-transform: uppercase;
    background-color: var(--color10);
    color: var(--color60);
    border: none;
  }
  .sec2__susbribe-box button:hover{
    background-color: var(--color10-shade);
  }
.sec2__susbribe-box .container{
    width: 69%;
    display: block;
    margin-left: 5rem;
    margin-top: 1rem;
    padding: .3rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.container input[type=checkbox] {
    visibility: hidden;
  }
.checkbox-container {
    position: absolute;
    top: 85.5%;
    left: 17%;
    overflow: hidden;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: 2px solid var(--color10);
}
.main:hover input ~ .checkbox-container {
    background-color: black;
}
.main input:active ~ .checkbox-container {
    background-color: var(--color10);
}
.main input:checked~.checkbox-container {
    background-color: var(--color10);
}
.checkbox-container::after {
    content: "";
    position: absolute;
    left: .29rem;
    display: none;
    top: 0;
    width: .7rem;
    height: 1rem;
    border: solid var(--color60);
    border-width: 0 2.2px 2.2px 0;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}
.checkbox-container::before {
    content: "";
    position: absolute;
    left: -.15rem;
    background: var(--color60);
    top: -.15rem;
    display: none;
    width: 2rem;
    height: 3rem;
}
.container input:checked ~ .checkbox-container::after {
    display: block;
}
.container input:checked ~ .checkbox-container::before {
    display: block;
}
.sec2__adsbox{
    min-height: fit-content;
    margin-top: 2rem;
}
.sec2__adsbox fieldset{
    min-height: 40vh;
    width: 35vw;
    padding: var(--div-padding-full);
    box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    -webkit-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    -moz-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    -webkit-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    -moz-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
    height: fit-content;
}
.sec2__adsbox fieldset .sec2__adsbox-title{
    font-size: var(--article-header-small);
}
.section3 .section3__div1{
    padding: var(--div-padding-full);
    width: 90%;
    display: flex;
    min-height: fit-content;
    align-items: center;
    justify-content: space-between;
}
.section3 div h1{
    font-size: var(--article-header);
    padding: var(--div-padding-full);
}
.section3 div a{
    color: #eee;
}
.section3__div2{
    width: 90%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.section3__div2 a{
    width: calc(100% / 5);
    margin: 0 1rem;
    height: 60vh;
    position: relative;
    border: #2222222a 1px solid;
    cursor: pointer;
}
.section3 .section3__div2 a img{
    width: 100%;
    height: 60%;
}
.section3 a div h1{
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: var(--plia-font-size);
    background-color: rgba(0, 0, 5, .6);
    backdrop-filter: blur(10px);
}
.section3 a div h2{
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    text-transform: capitalize;
    color: black;
}
.section3 a div p{
    width: 100%;
    font-size: var(--plia-font-size-small);
    color: #222222ce;
}
.section3__subdiv_subdiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.lightp{
    color: var(--color60);
}
.darkp{
    color: black;
}
.footer .footer__div1{
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: var(--div-padding-full);
}
.footer .footer__newpagelinks{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    padding: var(--div-padding-full);
    font-size: var(--plia-font-size);
}
.footer .footer__newpagelinks a{
    font-size: 1.7rem;
}
.footer .footer__newpagelinks a:hover{
    color: var(--color10);
    transform: var(--transform-size-medium);
    -webkit-transform: var(--transform-size-medium);
    -moz-transform: var(--transform-size-medium);
    -ms-transform: var(--transform-size-medium);
    -o-transform: var(--transform-size-medium);
}
.footer .footer__div3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: var(--div-padding-full);
    width: 80%;
    align-items: flex-end;
    justify-content: space-around;
}
.footer .footer__div3__subdiv{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}
.footer .footer__div3__subdiv h1{
    font-size: var(--article-header-medium);
    padding: 1.2rem 0;
}
.footer .footer__div3__subdiv div{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.footer .footer__div3__subdiv div a{
    margin: 0 .5rem;
    padding: 0 1rem;
}
.footer .footer__div3__subdiv div a:active{
    color: var(--color10-shade);
    text-decoration: underline;
}
/*For view_post.php*/
.body_left_relatedniches{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.body_left_relatedniches a{
    padding: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #F94A04;
    color: #eee;
}
.body_left_relatedniches a:hover{
    background-color: #F93404;
}
.body_left .Post_header{
    font-size: 3.4rem;
    font-weight: 800;
    padding: 2rem 0;
}
.body_left h2{
    width: 90%;
    padding: 1.5rem 0;
    font-size: 2rem;
}
.body_left .authors_div{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.authors_div_imgbox{
    display: flex;
    align-items: center;
    width: 50%;
}
.authors_div_imgbox img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1rem;
}
.authors_div_imgbox .span3{
    display: block;
}
.authors_div_imgbox .span1{
    font-weight: 500;
}
.authors_div_otherdiv{
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    width: 50%;
    justify-content: flex-end;
}
.authors_div_otherdiv i{
    margin-right: 1rem;
    color: #222222;
    font-size: 1.5rem;
}
.post_image_div{
    width: 100%;
    min-height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post_image_div img{
    width: 100%;
    height: 90vh;
}
.post_image_div span{
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #22222274;
}
.socialmedia_links{
    display: flex;
    width: 100%;
    padding: 2rem 0;
}
.socialmedia_links button{
    width: calc(100% / 5);
    padding: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 1rem;
    font-size: 1.9rem;
    color: #eee;
    background-color: #F94A04;
}
.socialmedia_links button:hover{
    background-color: #F93404;
}
.bodyleft_header3{
    text-align: center;
    padding: 2rem;
    font-weight: 750;
    font-size: 2.5rem;
    margin: 1rem;
}
.aboutauthor_div{
    width: 90%;
    padding: 1.5rem;
    background-color: #eee;
    display: flex;
    border: 1px solid #2222222a;
    cursor: pointer;
    flex-wrap: nowrap;
}
.aboutauthor_div .aboutauthor_div_subdiv1{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
}
.aboutauthor_div .aboutauthor_div_subdiv1 img{
    height: 100%;
    width: 100%;
    transition: all ease-in .6s;
    -webkit-transition: all ease-in .6s;
    -moz-transition: all ease-in .6s;
    -ms-transition: all ease-in .6s;
    -o-transition: all ease-in .6s;
}
.aboutauthor_div:hover .aboutauthor_div_subdiv1 img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.aboutauthor_div div:nth-child(2){
    font-weight: 750;
    padding-bottom: 1rem;
    color: black;
}
.aboutauthor_div .aboutauthor_div_subdiv2{
    display: flex;
    width: calc(100% - 13rem);
    flex-direction: column;
    align-items: center;
}
.p--bold{
    font-weight: 750;
    padding-bottom: 1rem;
}
.aboutauthor_div div p{
    color: black;
}
.subscribe_div{
    background-color: #222222;
    width: 80%;
    margin: 1rem 0;
    padding: 1.5rem;
    color: #eee;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe_div p{
    padding-bottom: 1.5rem;
    max-width: 90%;
}
.more_posts{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.more_posts a{
    position: relative;
    height: 60vh;
    width: 20vw;
    color: black;
    border: 1px solid #2222224a;
    margin: 1rem;
    cursor: pointer;
}
.more_posts a img{
    height: 70%;
    width: 100%;
}
.more_posts a div{
    padding: 0 1rem;
}
.more_posts a div h1{
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
}
.more_posts a div span{
    font-size: 1rem;
    color: #222222a0;
}
.body_right .ads_sidebar{
    width: 100%;
    height: 70vh;
    background-color: palegreen;
}
.body_right .bodyleft_header3{
    width: 80%;
}
.posts_div{
    width: 80%;
    height: 78vh;
    cursor: pointer;
    margin-bottom: 1rem;
    border: 1px solid #2222224a;
    position: relative;
}
.posts_div img{
    width: 100%;
    height: 60%;
}
 .posts_div_niche{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(10px);
    color: #eee;
}
.posts_div h1{
    font-size: 1.6rem;
    padding: .5rem 1rem;
    color: black;
    text-transform: capitalize;
}
.posts_div_otherp{
    padding: .5rem 1rem;
    font-size: 1.3rem;
    color: black;
}
.posts_div_otherp span{
    font-weight: 750;
    color: black;
}
.posts_div_subdiv{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
.posts_div_subdiv p{
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
    color: #22222286;
}
/*For newslettersubscribe.php*/
.formcontainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: #f6f6f6;
}
.head_paragraph h3{
    font-size: 2rem;
    padding: 1.5rem 0;
}
.formcontainer .formcontainer_subdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1rem 0;
    padding: 1.5rem;
    border: 1px solid #22222267;
    height: fit-content;
}
.input_group{
    padding-bottom: 1rem;
}
.formcontainer_subdiv input{
    width: 100%;
    border: 1px solid #222222;
    outline: none;
    padding: 1rem;
    margin-top: 1rem;
}
.formcontainer label{
    font-size: 1.5rem;
    font-weight: 550;
    padding: 1rem 0;
}
.formcontainer_subdiv input:focus{
    border: 1px solid #F94A04;
}
.formcontainer p a{
    cursor: pointer;
    color: #F94A04;
}
.formcontainer p a:hover{
    text-decoration: underline;
}
.formcontainer_submit{
    color: #eee;
    background-color: #F94A04;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.formcontainer_submit:hover{
    background-color: #F93404;
}
/*For Authors.php*/
.authordiv_container{
    width: 90%;
    margin: 1.2rem 0;
    display: flex;
    flex-wrap: nowrap;
    min-height: 40vh;
    padding: 1.5rem;
    align-items: center;
}
.authordiv_container img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.authordiv_container_subdiv{
    width: calc(100% - 28rem);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.authordiv_container_subdiv h1{
    font-size: 2.9rem;
    font-weight: 750;
    padding: 1.2rem 0;
}
.authorsdiv{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 41rem) and (max-width: 64rem) {
    body{
        position: relative;
    }
    a, p, li{
        font-size: 2.5rem;
    }
    .header{
        height: fit-content;
    }
    .section1{
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr .5fr;
    }
    .section2{
        column-gap: .9rem;
    }
    .section3{
        flex-direction: column;
    }
    .mainheader{
        width: 100%;
    }
    .mainheader__searchbox-container input{
        width: 70%;
    }
    .mainheader__searchbox-container label{
        font-size: 2.4rem;
    }
    .mainheader__signupbtn{
        padding: 1.3rem;
    }
    .header__dropdownlinks{
        padding: 1rem 0;
        flex-wrap: nowrap;
        width: 100%;
    }
    .header__dropdownlinks .headerlinks{
        padding: 1rem .8rem;
        font-weight: 700;
        font-size: 2.4rem;
    }
    .header__dropdownlinks-6{
        font-size: 2.4rem;
        font-weight: 700;
        padding-top: 1.6rem;
    }
    .header__dropdownlinks-6 ul li{
        padding: 1rem 0;
    }
    .header__menu-sidebar{
        padding: 2.5rem;
        width: 60vw;
    }
    .header__menu-sidebar .header__menu-sidebar-div1{
        justify-content: flex-end;
    }
    .header__menu-sidebar-div1 .sidebar-input-div1{
        width: 100%;
    }
    .sidebar-input-div1 a{
        margin-left: 0;
    }
    @keyframes label{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    .header__menu-sidebar-div1 .header__menu-sidebar-div1-subdiv2 h1{
        font-size: 3rem;
    }
    .header__menu-sidebar-div1-subdiv3 h1{
        padding-bottom: 1.4rem;
        font-size: 3rem;
    }
    .header__menu-sidebar-div1-subdiv3 a{
        padding-bottom: 1.5rem;
        color: var(--color60);
    }
      .header__menu-sidebar-div2{
        width: 100%;
        padding: var(--div-padding-full);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .header__menu-sidebar-div2 p{
        color: var(--color60);
        padding-top: 1rem;
        max-width: 30%;
      }
      .header__menu-sidebar-div2-subdiv1 h1{
        padding-bottom: 2rem;
        font-size: 3rem;
      }
      .section1__article__div1{
        grid-area: 1 / 1 / 2 / -1;
      }
      .section1__articlearticle2{
        grid-area: 2 / 1 / -1 / 2;
        padding: 1rem;
      }
      .section1__article__div3{
        grid-area: 2 / 2 / -1 / -1;
        padding: 1rem;
      }
      .section1__articlearticle3{
        display: none;
      }
      .smaller__div img{
        width: 55%;
    }
    .smaller__div div{
        padding: 1.5rem;
    }
    .smaller__div div h1{
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }
    .smaller__div div h2{
        font-size: 3rem;
    }
    .larger__div{
        display: flex;
        padding: 1.5rem;
        flex-wrap: nowrap;
    }
    .larger__div img{
        height: 95%;
    }
    .larger__div div{
        padding: 1.5rem;
    }
    .larger__div div h1{
        font-size: 3rem;
    }
    .larger__div  h2{
        font-size: 3rem;
        padding: var(--div-padding-full);
    }
    .larger__div  p{
        margin-top: 30rem;
    }
    .section2 div .headers{
        font-size: 3rem;
    }
    .section2 div .normal-divs article img{
        height: 20rem;
    }
    .section2 div .normal-divs div{
        display: flex;
        padding: 1.5rem;
        width: 95%;
    }
    .section2 div .normal-divs div img{
        height: 5rem;
    }
    .section2 div .normal-divs div p {
        margin-left: 1rem;
        font-size: 2.5rem;
    }
    .section2 div .normal-divs div p span{
        font-weight: 800;
    }
    .section2 div .section2__div1__link{
        font-size: 2.5rem;
    }
    .section2 div .section2__div2__link{
        font-size: 2.5rem;
    }
    .section2 div div article div h1{
        text-transform: uppercase;
        padding-bottom: 2rem;
        font-size: 2.5rem;
    }
    .section2 div div article div h2{
        padding-bottom: 2rem;
        font-size: 2.5rem;
    }
    .sec2__susbribe-box{
        width: 44vw;
        padding: 1.5rem;
      }
      .sec2__susbribe-box-darker{
        width: 36vw;
      }
      .sec2__susbribe-box-darker button:hover{
        background-color: var(--color10-shade);
      }
      .sec2__susbribe-box h1{
        font-size: 3rem;
      }
      .sec2__susbribe-box p{
        padding: 1rem 0 1rem 0;
        max-width: 80%;
      }
      .sec2__susbribe-box .sec2__susbribe-box-input{
        min-width: 80%;
        font-size: 2.5rem;
        border: #F94A04 solid 1px;
        padding: 2rem;
      }
      .sec2__susbribe-box .sec2__susbribe-box-input:focus{
        outline: var(--color10) 1px solid;
      }
      .sec2__susbribe-box-darker .sec2__susbribe-box-input-light:focus{
        outline: var(--color10) 1px solid;
      }
      .sec2__susbribe-box .sec2__susbribe-box-input::placeholder{
        position: absolute;
        top: 2;
        left: 9rem;
        width: 100%;
        height: auto;
        font-size: 2.5rem;
    }
      .sec2__susbribe-box button{
        min-width: 80%;
        font-size: 2.5rem;
      }
    .sec2__susbribe-box .container{
        width: 69%;
        display: block;
        margin-left: 5rem;
        margin-top: 1rem;
        padding: .3rem;
        cursor: pointer;
        font-size: 2.5rem;
    }
    .container input[type=checkbox] {
        visibility: hidden;
      }
    .checkbox-container {
        top: 80.6%;
        left: 14%;
        height: 2.5rem;
        width: 2.5rem;
    }
    .main:hover input ~ .checkbox-container {
        background-color: black;
    }
    .main input:active ~ .checkbox-container {
        background-color: var(--color10);
    }
    .main input:checked~.checkbox-container {
        background-color: var(--color10);
    }
    .checkbox-container::after {
        content: "";
        position: absolute;
        left: .29rem;
        display: none;
        top: 0;
        width: .7rem;
        height: 1rem;
        border: solid var(--color60);
        border-width: 0 2.2px 2.2px 0;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
    }
    .checkbox-container::before {
        content: "";
        position: absolute;
        left: -.15rem;
        background: var(--color60);
        top: -.15rem;
        display: none;
        width: 2rem;
        height: 3rem;
    }
    .container input:checked ~ .checkbox-container::after {
        display: block;
    }
    .container input:checked ~ .checkbox-container::before {
        display: block;
    }
    .sec2__adsbox fieldset .sec2__adsbox-title{
        font-size: var(--article-header-small);
    }
    .section3 div{
        display: flex;
        min-height: fit-content;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
    }
    .section3 div h1{
        font-size: 3.5rem;
    }
    .section3 div article{
        max-width: 30rem;
    }
    .section3 div article img{
        height: 55%;
    }
    .section3 div article div h1{
        font-size: 2.5rem;
    }
    .section3 div article div h2{
        font-size: 2.5rem;
    }
    .section3 div article div p{
        font-size: 2.5rem;
    }
    .footer .footer__newpagelinks{
        width: 90%;
        padding: 1rem 1rem;
    }
    .footer .footer__newpagelinks a{
        font-size: 2.3rem;
        font-weight: 700;
    }
    .footer .footer__div3{
        width: 90%;
    }
    .footer .footer__div3__subdiv h1{
        font-size: 2.5rem;
        padding: 1.6rem 0;
    }
    .footer .footer__div3__subdiv div a{
        margin: 0 .5rem;
        padding: 0 1rem;
    }
    .footer .footer__div3__subdiv div a:active{
        color: var(--color10-shade);
        text-decoration: underline;
    }
}
@media only screen and (max-width: 40rem){
    .header{
        width: 100%;
    }
    p, li, a{
        font-size: 1.8rem;
    }
    .section1{
        column-gap: 0;
        row-gap: 0;
        padding: 1rem 0 0 0;
        width: 100vw;
    }
    .section2{
        column-gap: .5rem;
        flex-wrap: wrap;
    }
    .mainheader{
        padding: 0;
        width: 100%;
    }
    .mainheader__header-nav {
        display: flex;
    }
    .mainheader__searchbox-container{
        position: relative;
        margin-bottom: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
}
    .mainheader__signupbtn {
        display: none;
    }
    .mainheader__header-nav a:nth-child(2){
        margin-left: 1rem;
    }
    .header__dropdownlinks{
        flex-wrap: wrap;
        width: 100%;
    }
    .header__dropdownlinks-6{
        position: relative;
        width: 50%;
        display: inline-block;
        margin-top: .8rem;
    }
    .header__menu-sidebar{
        min-width: 90vw;
        height: 100%;
        height: 100vh;
        z-index: 100;
    }
    .sidebar-input-div1 a{
        margin-left: 1rem;
    }
    @keyframes label{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    .header__menu-sidebar-div1 .header__menu-sidebar-div1-subdiv2 h1{
        padding-bottom: 1.4rem;
    }
    .header__menu-sidebar-div1-subdiv3 h1{
        padding-bottom: 1.4rem;
    }
    .header__menu-sidebar-div1-subdiv3 a{
        padding-bottom: 1.5rem;
    }
      .header__menu-sidebar-div2{
        flex-direction: column;
      }
      .header__menu-sidebar-div2 p{
        color: var(--color60);
        padding: var(--div-padding-full);
        max-width: 100%;
      }
      .header__menu-sidebar-div2-subdiv1{
        width: 100%;
      }
      .header__menu-sidebar-div2-subdiv1 h1{
        padding-bottom: 1.7rem;
        font-size: var(--article-header);
        font-weight: 850;
        color: var(--color60);
      }
      .header__menu-sidebar-div2-subdiv1-subdiv {
        width: 100%;
      }
      .smaller__div img{
        width: 50%;
        margin-top: 2.2rem;
    }
    .smaller__div div{
        padding: var(--div-padding-full);
        cursor: pointer;
    }
    .smaller__div div h1{
        font-size: var(--article-header);
        padding-bottom: 1.5rem;
    }
    .section1__div2 article div h2{
        font-size: var(--article-header-medium);
        max-width: fit-content;
        padding: var(--div-padding-full);
    }
    .section1__div2 article div p {
        margin-top: 4.6rem;
    }
    .section1 .section1__article__div1{
        padding: var(--div-padding-full);
    }
    .larger__div img{
        width: 90%;
    }
    .larger__div div p{
        padding: var(--div-padding-full);
    }
    .larger__div  h2{
        font-size: var(--article-header-medium);
        padding: var(--div-padding-full);
    }
    .section2 div .headers{
        font-size: var(--article-header-small);
        padding: 2rem;
    }
    .section2 div{
        padding: 1.5rem 1rem;
    }
    .section2 div .normal-divs{
        padding: var(--div-padding-full);
    }
    .section2 div .normal-divs article{
        align-items: flex-start;
    }
    .section2 div .normal-divs article img{
        height: 15rem;
        margin-top: 1.5rem;
}
    .section2 div .normal-divs article div{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .section2 div .normal-divs div{
        width: 100%;
    }
    .section2 div .normal-divs div img{
        height: 4rem;
        margin-right: 1.2rem;
}
    .section2 div .normal-divs div p span{
        font-weight: 800;
    }
    .section2 div .section2__div1__link{
        margin-left: 2.3rem;
        padding: var(--div-padding-full);
    }
    .section2 div .section2__div2__link{
        margin-left: 2.3rem;
        padding: var(--div-padding-full);
    }
    .section2 div div article div h1{
        font-size: 2rem;
    }
    .section2 div div article div h2{
        font-size: 1.8rem;
    }
    .sec2__susbribe-box{
        padding: 2rem;
        min-width: 90%;
      }
      .sec2__susbribe-box h1{
        padding: 1rem 0 2.5rem 0;
        font-size: var(--article-header);
        font-weight: 850;
      }
      .sec2__susbribe-box p{
        padding: 1rem 0 1rem 0;
        max-width: 70%;
      }
      .sec2__susbribe-box .sec2__susbribe-box-input{
        min-width: 70%;
        padding: var(--div-padding-full);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sec2__susbribe-box .sec2__susbribe-box-input:focus{
        outline: var(--color10) 1px solid;
      }
      .sec2__susbribe-box-darker .sec2__susbribe-box-input-light:focus{
        outline: var(--color10) 1px solid;
      }
      .sec2__susbribe-box .sec2__susbribe-box-input::placeholder{
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-20%, -50%);
        -webkit-transform: translate(-20%, -50%);
        -moz-transform: translate(-20%, -50%);
        -ms-transform: translate(-20%, -50%);
        -o-transform: translate(-20%, -50%);
    }
      .sec2__susbribe-box button{
        min-width: 70%;
        padding: 1.5rem 1rem;
        margin: 1.2rem 0;
        text-transform: uppercase;
        background-color: var(--color10);
        color: var(--color60);
        border: none;
      }
      .sec2__susbribe-box button:hover{
        background-color: var(--color10-shade);
      }
    .sec2__susbribe-box .container{
        width: 69%;
        display: block;
        margin-left: 5rem;
        margin-top: 1rem;
        padding: .3rem;
        cursor: pointer;
        font-size: 1.2rem;
    }
    .container input[type=checkbox] {
        visibility: hidden;
      }
    .checkbox-container {
        position: absolute;
        top: 85.5%;
        left: 17%;
        overflow: hidden;
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: 2px solid var(--color10);
    }
    .main:hover input ~ .checkbox-container {
        background-color: black;
    }
    .main input:active ~ .checkbox-container {
        background-color: var(--color10);
    }
    .main input:checked~.checkbox-container {
        background-color: var(--color10);
    }
    .checkbox-container::after {
        content: "";
        position: absolute;
        left: .29rem;
        display: none;
        top: 0;
        width: .7rem;
        height: 1rem;
        border: solid var(--color60);
        border-width: 0 2.2px 2.2px 0;
        transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
    }
    .checkbox-container::before {
        content: "";
        position: absolute;
        left: -.15rem;
        background: var(--color60);
        top: -.15rem;
        display: none;
        width: 2rem;
        height: 3rem;
    }
    .container input:checked ~ .checkbox-container::after {
        display: block;
    }
    .container input:checked ~ .checkbox-container::before {
        display: block;
    }
    .sec2__adsbox{
        width: 90%;
        margin-top: 2rem;
    }
    .sec2__adsbox fieldset{
        min-height: 40vh;
        width: 35vw;
        padding: var(--div-padding-full);
        box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
        -webkit-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
        -moz-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
        box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
        -webkit-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
        -moz-box-shadow: 16px 15px 18px -14px rgba(0,0,0,0.63);
        height: fit-content;
    }
    .sec2__adsbox fieldset .sec2__adsbox-title{
        font-size: var(--article-header-small);
    }
    .section3 div{
        display: flex;
        min-height: fit-content;
        align-items: center;
        justify-content: space-between;
    }
    .section3 .section3__div2{
        overflow-x: scroll;
    }
    .section3 .section3__div1{
        padding: var(--div-padding-full);
    }
    .section3 div h1{
        font-size: var(--article-header);
        padding: var(--div-padding-full);
    }
    .section3 div a{
        color: black;
        display: flex;
    }
    .section3 div a:active{
        text-decoration: underline;
    }
    .section3 div a:hover{
        transform: var(--transform-size-small);
        -webkit-transform: var(--transform-size-small);
        -moz-transform: var(--transform-size-small);
        -ms-transform: var(--transform-size-small);
        -o-transform: var(--transform-size-small);
    }
    .section3 div a svg{
        margin-left: .1rem;
    }
    .section3 div:nth-child(2){
        justify-content: space-evenly;
        padding: 0 0 1.2rem 0;
    }
    .section3 div article{
        max-width: 22rem;
        position: relative;
        display: flex;
        padding: 1.5rem 1.5rem 0 1.5rem;
        flex-direction: column;
    }
    .section3 div article img{
        width: 100%;
        height: 60%;
        margin-bottom: 1.2rem;
        border-radius: var(--border-radius-big);
        -webkit-border-radius: var(--border-radius-big);
        -moz-border-radius: var(--border-radius-big);
        -ms-border-radius: var(--border-radius-big);
        -o-border-radius: var(--border-radius-big);
    }
    .section3 div article div{
        display: flex;
        flex-direction: column;
    }
    .section3 div article div h1{
        font-size: 2rem;
        padding-top: .5rem;
        margin-top: 1rem;
        background-color: rgba(255, 254, 233, .5);
        backdrop-filter: blur(10px);
    }
    .section3 div article div h2{
        font-size: 1.8rem;
        padding-bottom: .5rem;
    }
    .section3 div article div p{
        padding-top: var(--div-padding-full);
        font-size: 1.8rem;
    }
    .footer .footer__newpagelinks{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .footer form {
        padding: var(--div-padding-full);
        min-width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec2__susbribe-box-darker{
        height: 100%;
        width: 100%;
      }
    .footer .footer__newpagelinks a{
        font-size: 1.7rem;
        padding: 1rem;
    }
    .footer .footer__div3{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: var(--div-padding-full);
        width: 100%;
        align-items: flex-end;
        justify-content: space-around;
    }
    .footer .footer__div3__subdiv{
        display: flex;
        height: fit-content;
        flex-direction: column;
        align-items: center;
    }
    .footer .footer__div3__subdiv h1{
        font-size: var(--article-header-medium);
        padding: 1.2rem 0;
    }
    .footer .footer__div3__subdiv div{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
    .footer .footer__div3__subdiv div a{
        margin: 0 .5rem;
        padding: 0 1rem;
    }
}