:root{
    --plia-font-size: 1.5rem;
    --plia-font-size-small: 1rem;
    --color60: #FAFAFA;
    --color30: #222222;
    --color10: #F94A04;
    --color60-shade: #eee;
    --sectionpadding-big: 2rem;
    --sectionpadding-small: 1.5rem;
    --sectionpadding-medium: 1rem;
    --color10-shade: #F93404;
    --border-radius-small: .6rem;
    --border-radius-big: 1rem;
    --border-radius-circle: 50%;
    --div-padding-full: 1rem;
    --column-gap-main: 1.5rem;
    --article-header: 2.4rem;
    --article-header-medium: 2rem;
    --article-header-small: 1.6rem;
    --transform-size-small: scale(1.05);
    --transform-size-medium: scale(1.15);
    --transform-size-big: scale(1.4);
    --height: 70vh;
    --header-height: 18vh;
    --sidebar-width: 17vw;
 }
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
a, td,span, p, label{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
}
.lightp{
    color: #FAFAFA;
}
.darkp{
    color: black;
}
.sticky{
    top: 0;
    left: 0;
}
.flex_direction-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex_direction-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section1{
    background: linear-gradient(to left, #eee, white);
    min-height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    min-width: 500px;
    background-color: #222222;
    box-shadow: 0 25px 35px rgba(0,0,1,.5);
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.footer{
    height: calc(100vh - var(--height));
    background: var(--color30);
    color: var(--color60);
    display: flex;
    padding: var(--sectionpadding-big);
    align-items: center;
}
.container h1{
    font-size: 3.3rem;
    text-align: center;
    padding: 1.7rem 0;
    background-image: linear-gradient(45deg, #F94A04, #F93404);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
}
.container .form{
    padding: .5rem 1.5rem;
}
.error_div{
    width: 100%;
    color: #F94A04;
    padding: 1rem;
}
.checkbox_group{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: .5rem 0;
}
.checkbox_group p{
    color: #eee;
    margin-left: 1rem;
}
.checkbox_group input:checked{
    background-color: #F94A04;
}
.container .form .input_group input{
    width: 100%;
    outline: none;
    color: #eee;
    background-color: transparent;
    border: none;
    padding-left: 2.4rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #FAFAFA;
}
.form .input_group{
    position: relative;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.form .input_group i{
    position: absolute;
    font-size: 1.6rem;
    color: #eee;
    transform: translateY(-.5rem);
    -webkit-transform: translateY(-.5rem);
    -moz-transform: translateY(-.5rem);
    -ms-transform: translateY(-.5rem);
    -o-transform: translateY(-.5rem);
}

.form .input_group input:focus{
    border-bottom: 2px solid #F94A04;
    padding-left: 1rem;
    background: inherit;
}
.form .input_group input::placeholder{
    color: transparent;
}
.form .input_group label{
    position: relative;
    left: 2.5rem;
    top: -2.4rem;
    color: #eee;
    transition: .5s ease-in-out all;
    -webkit-transition: .5s ease-in-out all;
    -moz-transition: .5s ease-in-out all;
    -ms-transition: .5s ease-in-out all;
    -o-transition: .5s ease-in-out all;
}
.form .input_group input:focus ~ label, input:not(:placeholder-shown) ~ label{
    top: -3.3rem;
    font-size: .8rem;
    opacity: 0;
    color: #F94A04;
}
 .container .recover a{
    float: right;
    font-size: 1.5rem;
    color: #F94A04;
    text-decoration: none;
}
.container .recover a:hover{
    text-decoration: underline;
}
.form .btn_main{
    background: #F94A04;
    text-align: center;
    padding: 1rem .2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    color: #FAFAFA;
    margin: 1rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.form .btn_main:hover{
    background-color: #F93404;
}
.footer__div3{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--div-padding-full);
}
.footer__div3__subdiv h1{
    margin: 1.2rem 0;
}
.footer__div3__subdiv div {
    height: fit-content;
    padding-top: 1rem;
}
.footer__div3__subdiv div a{
    margin: 0 .3rem;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    height: fit-content;
    border: 1px solid #eeeeeec3;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.footer__div3__subdiv div a:hover{
    background-color: #F94A04;
    border: 1px solid #F94A04;
}
.footer__div3__subdiv div a i{
    font-size: 2rem;
    color: #eee;
}
.border-gradient-side{
    border:  white 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
  @media only screen and (max-width:40rem){
    body{
        min-height: 100svh;
    }
    a, td,span, p, label{
        font-size: 1.9rem;
    }
    .section1{
        min-height: 80svh;
        padding: 2rem 1rem;
    }
    .container{
        min-width: 93%;
        padding: 1.5rem;
    }
    .footer{
        height: 20svh;
        display: flex;
    }
    .container h1{
        font-size: 3.8rem;
        padding: 2rem 0;
    }
    .container .form{
        padding: .5rem .7rem;
    }
    .form .input_group input{
        font-size: 1.9rem;
    }
    .form .input_group input::placeholder{
        margin-bottom: .8rem; 
        font-size: 1.9rem;
    }
     .container .recover a{
        font-size: 1.9rem;
    }
    .form .btn_main{
        font-size: 1.9rem;
    }
    footer{
        padding: 2rem;
    }
    .footer__div3{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        min-height: fit-content;
    }
    .footer__div3 p{
        padding: .5rem 0;
    }
    .footer__div3__subdiv h1{
        font-size: 2rem;
    }
    .footer__div3__subdiv div {
        height: fit-content;
    }
    .footer__div3__subdiv div a{
        margin: 0 .5rem;
        padding: 0 .5rem;
    }
    .footer__div3 span{
        background-image: linear-gradient(45deg, #F94A04, #F93404);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 1.9rem;
        font-weight: 700;
    }
  }
/*For admin homepage*/
.header{
    display: flex;
    background-color: #222222;
    align-items: center;
    padding: 1.5rem;
    min-height: var(--header-height);
    justify-content: space-between;
}
.header_searchbar{
    border-radius: 2rem;
    height: fit-content;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    display: flex;
    overflow: hidden;
    width: 50vw;
    background-color: #F94A04;
}
.header_searchbar input{
    border: none;
    padding: 1rem;
    background-color: #222222;
    border-bottom: 1px solid #eee;
    outline: none;
    color: #eee;
    width: 90%;
}
.header_searchbar input:focus{
    border-bottom: 2px solid #F93404;
}
.header_searchbar button{
    height: fit-content;
    padding: 1rem;
    color: #eee;
    width: 10%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
    font-size: 2rem;
}
.header_img{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.header_img a{
    margin-right: 2rem;
    color: #eee;
    font-size: 2.3rem;
}
.header_img img{
    width: 4rem;
    height: 4rem;
    border: 2px solid #FAFAFA;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    align-items: center;
}
.body{
    min-height: calc(100vh - var(--header-height));
    overflow: hidden;
    width: 100vw;
}
.body .sidebar{
    float: left;
    width: var(--sidebar-width);
    background-color: #222222;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}
.border-gradient-side{
    border:  #eeeeee48 10px solid;
    border-image-slice: 1;
    border-width: .4px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .border-gradient-side-dark{
    border:  #222222 10px solid;
    border-image-slice: 1;
    border-width: .4px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .border-gradient-side2-dark{
    border:  #222222 10px solid;
    border-image-slice: 1;
    border-width: .4px;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
  }
  .border-gradient-top-light{
    border:  #FAFAFA 10px solid;
    border-image-slice: 1;
    border-width: .4px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
.body .sidebar div{
    display: flex;
    padding: 1.2rem;
    flex-direction: column;
}
.body .sidebar div .sidebarbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}
.body .sidebar p{
    color: #eee;
}
.body .sidebar div i{
    margin-right: 1rem;
    color: #FAFAFA;
    font-size: 1.7rem;
}
.active2{
    display: flex;
}
.aside_sidebar{
    margin-left: var(--sidebar-width);
    position: relative;
    align-items: center;
    background-color: #eee;
    min-height: 100%;
    overflow-y: scroll;
}
.aside_sidebar2{
    position: relative;
    align-items: center;
    background-color: #eee;
    min-height: 100%;
    overflow-y: scroll;
}
.aside_sidebar .aside_sidebar_header{
    background-image: linear-gradient(to right, #F94A04, #F93404);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}
 .website_info_div{
    width: 100%;
    padding: 1rem;
    background-color: #eee;
    min-height: fit-content;
    flex-direction: column;
    align-items: center;
}
.website_info_div .webinfo_container{
    min-width: 100%;
    background-color: #eee;
    display: flex;
    padding: 1.2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.website_info_div .webinfo_container .website_info:nth-child(5){
    cursor: pointer;
}
.website_info_div .webinfo_container .website_info:nth-child(6){
    cursor: pointer;
}
.website_info_div .webinfo_container .website_info{
    width: 13rem;
    height: 10rem;
    background-color: #222222;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 8px rgba(0, 0, 3, .8);
}
.webinfo_container .website_info div{
    display: flex;
    flex-wrap: nowrap;
    padding: .5rem 1rem;
    align-items: center;
}
.webinfo_container .website_info div i{
    margin-right: .6rem;
    color: #eee;
    font-size: 2.3rem;
}
.webinfo_container .website_info:hover div i{
    color: #F94A04;
}
.website_info_div .webinfo_container .website_info p{
    color: #eee;
}
.website_info_div .webinfo_container .website_info:hover p{
    color: #F94A04;
}
.addtionalinfo{
    width: 90%;
    margin: 1rem 0;
    background-color: #FAFAFA;
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.addtionalinfo .addtionalinfo_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.addtionalinfo .addtionalinfo_header h1{
    font-size: 2.5rem;
    padding: .5rem .5rem;
}
 .btn{
    background-color: #F94A04;
    color: #FAFAFA;
    cursor: pointer;
    padding: .8rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
 .btn:hover{
    background-color: #F93404;
}
 .addtionalinfo_body{
    width: 100%;
}
.addtionalinfo_body table{
    width: 100%;
    padding: 1rem;
}
.addtionalinfo_body table th{
    font-size: 2rem;
    text-align: center;
    padding: .7rem 1rem ;
}
.addtionalinfo_body table tr{
    text-align: center;
}
.visits table tr td:nth-child(2){
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.addtionalinfo_body table td img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}
.addtionalinfo_body table tr:nth-child(2){
    background-color: #eee;
}
.addtionalinfo_body table tr:nth-child(4){
    background-color: #eee;
}
.addtionalinfo_body table tr:nth-child(6){
    background-color: #eee;
}
.addtionalinfo_body table a{
    color: #F94A04;
    cursor: pointer;
}
.addtionalinfo_body table a:hover{
    color: #F93404;
    text-decoration: underline;
}
.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.stats .visits_subdiv{
    grid-area: 1 / 1 / -1 / 2;
}
.stats .visits_subdiv2{
    grid-area: 1 / 2 / 2 / -1;
    background-color: #eee;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats .visits_subdiv3{
    grid-area: 2 / 2 / -1 / -1;
    padding: 1.2rem;
}
.visits_subdiv2_header{
    font-size: 2.2rem;
    text-align: center;
}
.hidden{
    display: none;
}
.profile{
    padding: 1rem 0;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FAFAFA;
}
.profile p, span{
    color: black;
}
.profile figure{
    position: relative;
    width: fit-content;
}
.profile figure img{
    height: 250px;
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #F94A04;
}
.profile_imgbox a{
    position: absolute;
    cursor: pointer;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: .5rem;
    width: 50px;
    height: 50px;
    border: #eee 3px solid;
    background-color: #222222;
    padding: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile_imgbox a:hover i{
    color: #F94A04;
}
.profile_body{
    margin: 1.2rem 0;
    min-width: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile_body .firsti{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
}
.profile_body .firsti:hover{
    color: #F94A04;
}
.profile_firstp{
    margin-bottom: 1rem;
}
.profile_firstp span{
    font-weight: 700;
}
.profile_body .profile_body_subdiv_subdiv{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.profile_body .profile_body_subdiv_subdiv div{
    display: flex;
    min-width: fit-content;
    align-items: center;
}
.profile_body .profile_body_subdiv_subdiv div:nth-child(2){
    margin-left: 2.5rem;
}
.profile_body_subdiv_subdiv i{
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #222;
}
.profilesubdiv p:nth-child(2){
    margin-left: 1rem;
}
.profile_body-activities{
    width: 80%;
    margin: 1rem 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #eee;
}
.profile_body-activities div{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .8rem 1rem;
}
.profile_body-activities div h1{
    font-size: 2.5rem;
}
.active{
    background-color: #F94A04;
    color: #FAFAFA;
}
.active2{
    display: flex;
}
.profile_body .profile_edit_btn{
    min-width: 90%;
    text-align: center;
    cursor: pointer;
    background-color: #F94A04;
    color: #FAFAFA;
    padding: .9rem 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.aside_sidebar .users{
    padding: 1.5rem 1rem;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
}
.users .user_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.aside_sidebar .users .userdiv{
    margin: 1rem;
    padding: 1.5rem;
    min-width: 100%;
}
.aside_sidebar .users div h2{
    font-size: 2.9rem;
    font-weight: 750;
}
.aside_sidebar .users span{
    font-weight: 800;
    color: #F94A04;
}
.aside_sidebar .users .users_div_subdiv{
    display: flex; 
    padding: 1rem;
}
.divimages{
    perspective: 200rem;
    -moz-perspective: 200rem;
    background-image: url('images/newDiamakaimg1.png');
    background-position: center;
    background-size: cover;
    width: 20vw;
    transition: all .9s ease-in;
    -webkit-transition: all .9s ease-in;
    -moz-transition: all .9s ease-in;
    -ms-transition: all .9s ease-in;
    -o-transition: all .9s ease-in;
}
.divimages_side--back {
    display: none;
}
.divimages:hover .divimages_side--back {
    display: block;
}
.aside_sidebar .users .users_div_subdiv .users_div_subdiv_subdiv{
    background-color: #222222;
    min-height: 35vh;
    color: #FAFAFA;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 8px 8px 8px rgba(0, 0, 3, .6);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1.5rem;
}
 .users_div_subdiv_subdiv .users_delete_edit{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
 }
 .users_div_subdiv_subdiv .users_delete_edit a{
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: #F94A04;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
 .users_div_subdiv_subdiv .users_delete_edit a:hover{
    background-color: #F93404;
 }
 .users_div_subdiv_subdiv .users_delete_edit i{
    color: #222;
 }
 .users .users_div_subdiv_subdiv:nth-child(2){
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
 }
 .users .users_div_subdiv_subdiv:nth-child(2) i{
    font-size: 2rem;
    color: #F94A04;
    align-items: center;
 }
 .posts{
    flex-direction: column;
    align-items: center;
    position: relative;
 }
 .posts .posts_delete_edit2{
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    height: fit-content;
    min-width: 100%;
    margin-left: var(--sidebar-width);
    z-index: 100;
    bottom: 0;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
 .posts .posts_delete_edit2 h1{
    color: #FAFAFA;
    font-size: 2.5rem;
 }
 .posts_delete_edit2_subdiv a:nth-child(2){
    margin-left: 1rem;
 }
 .posts .postsdiv{
    padding: 1rem 1.5rem;
    background-color: #FAFAFA;
    margin: 1rem 0;
    width: 80%;
 }
 .postsdiv .posts_header h1{
    font-size: 2.5rem;
    font-weight: 750;
 }
 .postsdiv .posts_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem 0;
 }
 .postsdiv .posts_divcontainer{
    padding: .5rem;
 }
 .posts_divcontainer .posts_divcontainer_subdiv{
    padding: .5rem 1rem;
 }
 .posts_divcontainer .posts_divcontainer_subdiv:nth-child(even){
    background-color: #eee;
 }
 .posts_divcontainer .posts_divcontainer_subdiv:nth-child(4){
    background-color: #eee;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv_body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv_body h3{
    font-size: 2rem;
    font-weight: 750;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv_body a{
    cursor: pointer;
    color: black;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv_body a:hover i{
    color: #F94A04;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv_body a:nth-child(2){
    margin-left: .6rem;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .6rem 0;
    flex-wrap: nowrap;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv2 span{
    font-weight: 780;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .6rem 0;
    flex-wrap: nowrap;
 }
 .posts_divcontainer_subdiv .posts_divcontainer_subdiv3 span{
    font-weight: 780;
 }
 .posts_divcontainer_subdiv4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .6rem 0;
    flex-wrap: nowrap;
 }
 .posts_divcontainer_subdiv4 a{
    color: #222222;
 }
 .posts_divcontainer_subdiv4 span{
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
 .posts_divcontainer_subdiv4 span:hover{
    color: #F94A04;
}
.pages{
    flex-direction: column;
    margin: 1rem;
    align-items: center;
}
.pages .pages_container{
    width: 80%;
    background-color: #FAFAFA;
    padding: 1.5rem;
}
.pages .pages_container h1{
    padding: 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    width: 100%;
    border-bottom: 1.5px solid #222222b5;
}
.pages_container_subdiv{
    padding: 1.5rem;
    cursor: pointer;
   border-bottom: 1px solid #2222223c;
}
.pages_container_subdiv a{
    color: black;
    font-size: 1.9rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
}
.pages .pages_container_subdiv:hover{
    background-color: #F94A04;
}
.pages .pages_container_subdiv:hover a{
    color: #eee;
    text-decoration: underline;
}
.reviews{
    flex-direction: column;
    align-items: center;
}
.reviews .reviewdiv{
    background-color: #FAFAFA;
    padding: 1rem;
    margin: 1rem 0;
    width: 80%;
}
.reviewdiv .review_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
 .revheader{
    font-size: 2.5rem;
    font-weight: 750;
 }
 .review_divcontainer{
    padding: 1rem .8rem;
 }
 .review_divcontainer_subdiv{
    padding: 1rem;
 }
 .review_divcontainer_subdiv1{
    display: flex;
    flex-direction: column;
 }
 .review_divcontainer .review_divcontainer_subdiv2{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
 }
 .review_divcontainer_subdiv:nth-child(2){
    background-color: #eee;
 }
 .review_divcontainer_subdiv:nth-child(4){
    background-color: #eee;
 }
 .review_divcontainer .review_divcontainer_subdiv2 i{
    font-size: 3.5rem;
    margin-right: 1rem;
 }
 .review_divcontainer_subdiv3-pre{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
 }
 .review_divcontainer_subdiv3-pre span{
    font-weight: 780;
 }
 .review_divcontainer_subdiv3{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.settings{
    flex-direction: column;
    padding: 1.5rem;
}
.developer_contact{
    flex-direction: column;
    padding: 1.5rem;
    background-color: #FAFAFA;
    width: 100%;
    align-items: center;
    height: fit-content;
}
.developer_contact .developer_contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    min-height: 100%;
    border: 1px solid #22222250;
    padding: 1.5rem;
}
.developer_contact_header {
    margin-bottom: 1rem;
    width: 90%;
    border-bottom: 1px solid #22222250;
}
.developer_contact_header h1{
    font-size: 2.5rem;
    font-weight: 750;
    padding: 1rem 0;
}
.developer_contact_container_body{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 90%;
}
.developer_contact_container_body .developer_contact_subdiv{
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 0;
    align-items: center;
    width: 100%;
}
.developer_contact_subdiv h3{
    font-size: 2rem;
    margin-right: 1rem;
}
.developer_contact_subdiv a{
    margin-right: 1rem;
}
.developer_contact_subdiv i{
    font-size: 1.9rem;
    margin-right: 1rem;
}
.developer_contact_subdiv span{
    font-size: 2rem;
}
.developer_contact_followlinks{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}
.developer_contact_followlinks h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.developer_contact_followlinks div{
    padding: 1.5rem 0;
}
.developer_contact_followlinks div a{
    padding: 1rem;
    margin: 0 1rem;
    cursor: pointer;
    border: 1px solid #22222236;
}
.developer_contact_followlinks div a:hover{
    background-color: #F94A04;
    border: 1px solid #F94A04;
}
.developer_contact_followlinks div a:hover i{
    color: #eee;
}
.developer_contact_followlinks div a i{
    color: black;
}
.display{
    display: flex;
}
.logout_alert{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100vw;
    position: fixed;
    padding: 1.5rem 0;
}
.logout_alert2{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100vw;
    position: fixed;
    padding: 1.5rem 0;
}
.logout_alert h1{
    color: #eee;
    font-size: 3rem;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}
.logout_alert div{
    width: 40vw;
    padding: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.logout_alert div a{
    width: 8rem;
    text-align: center;
}
/*For Create New Post page*/
.newpost_body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: #eee;
}
.newpost_body .newpost_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid #F94A04;
    padding: 1rem;
    background-color: #FAFAFA;
}
.newpost_container .newpost_subdiv{
    width: 80%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.newpost_container .newpost_subdiv p{
    font-size: 1.2rem;
    margin-top: .5rem;
    color: #222222;
}
.newpost_container .newpost_subdiv span{
    margin-right: .2rem;
    color: #F94A04;
}
.newpost_container .newpost_subdiv h1{
    font-size: 2.5rem;
    font-weight: 750;
    padding: 1rem 0;
}
.newpost_container_div2{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.newpost_container_div2 input{
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid black;
}
.newpost_container_div2 input:focus{
    border-bottom: 1px solid #F94A04;
}
.input1{
    width: 70%;
    margin-right: 1rem;
}
.newpost_container_div2_subdiv2{
    width: calc(100% - (70% + 1rem));
}
.newpost_container_div2_subdiv2 input{
    width:100%;
}
.newpost_body_addition{
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.newpost_body_addition .form__input1{
    width: 40%;
    padding: 1rem;
    background-color: #eee;
    border: none;
    outline: none;
}
.newpost_body_addition_subdiv{
    float: right;
    margin-left: 1rem;
    border: 1px solid #222222;
    width: 50%;
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: .5fr repeat(2, 1fr) .5fr;
    grid-template-columns: repeat(3, 1fr);
    z-index: 100;
}
.div1{
    grid-area: 1 / 1 / 2 / -1;
    background-color: #eee;
}
.div1 input{
    width: 85%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #eee;
}
.div1 button{
    width: 10%;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}
.div2{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.div2:hover{
    background-color: #F94A04;
}
.div2 i{
    font-size: 2.3rem;
    margin-bottom: .5rem;
}
.div3{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.div3:hover{
    background-color: #F94A04;
}
.div3 i{
    font-size: 2.3rem;
    margin-bottom: .5rem;
}
.div4{
    grid-area: 2 / 3 / 3 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.div4 i{
    font-size: 2.3rem;
    margin-bottom: .5rem;
}
.div4:hover{
    background-color: #F94A04;
}
.div5{
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.div5 i{
    font-size: 2.3rem;
    margin-bottom: .5rem;
}
.div5:hover{
    background-color: #F94A04;
}
.div6{
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.div6 i{
    font-size: 2.3rem;
    margin-bottom: .5rem;
}
.div6:hover{
    background-color: #F94A04;
}
.div7{
    grid-area: 3 / 3 / 4 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}
.div7 i{
    font-size: 2.3rem;
    margin-bottom: .5rem;
}
.div7:hover{
    background-color: #F94A04;
}
.div8{
    grid-area: 4 / 1 / -1 / -1;
    background-color: #F94A04;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}
.div8:hover{
    background-color: #F93404;
}
.newpost_container_div3{
    display: flex;
    flex-wrap: nowrap;
}
.newpost_container_div3 input{
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid black;
    width: 100%;
}
.newpost_container_div3 label{
    width: 10%;
    font-weight: 750;
    margin-top: .5rem;
}
.newpost_container_div3_subdiv2{
    width: 90%;
}
.form__label{
    margin-right: 1rem;
}
.newpost_container_div4{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.newpost_container_div4 label{
    width: 10%;
    font-weight: 750;
}
.newpost_container_div4 select{
    width: 90%;
    padding: 1rem;
}
.newpost_container_div5{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.newpost_container_div5 label{
    width: 19%;
    margin-top: .5rem;
    font-weight: 750;
}
.newpost_container_div5_subdiv2{
    width: calc(100% - 19%);
}
.newpost_container_div5_subdiv2 input{
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid black;
    width: 100%;
}
.newpost_container_div6 {
    display: flex;
}
.newpost_container_div6 label{
    width: 10%;
    font-weight: 750;
}
.bold{
    font-weight: 750;
}
.newpost_container_div7{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.newpost_container_div7 label{
    padding-bottom: .8rem;
    font-weight: 750;
}
.newpost_container_div7 .newpost_container_div7_subdiv2{
    min-width: 100%;
    height: 90vh;
    padding: .8rem;
}
.newpost_container_div7 .newpost_container_div7_subdiv2b{
    min-width: 100%;
    height: 30vh;
    padding: .8rem;
}
.newpost_container_div7 .newpost_container_div7_subdiv2:focus{
    outline: 1px solid #F94A04;
    border: none;
}
.newpost_container_div7 .newpost_container_div7_subdiv2b:focus{
    outline: 1px solid #F94A04;
    border: none;
}
.newpost_container_div9 input{
    width: 100%;
    padding: 1rem;
    border: none;
    color: #FAFAFA;
    background-color: #F94A04;
}
.newpost_container_div9 input:hover{
    background-color: #F93404;
}
.newpost_container_div10{
    width: 100%;
    padding: 1rem;
}
.newpost_container_div10 p{
    text-align: center;
    font-size: 1.5rem;
}
.leftp{
    text-align: left;
}
.centerp{
    text-align: center;
}
input[type="datetime-local"] {
    width: 60%;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid #F94A04;
    outline: none;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
/*Workspace Styles*/
.sidebar_workspace_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 89%;
    overflow: hidden;
}
.active3{
    border: 3px solid #F94A04;
}
.sidebar_workspace_container .sidebar_workspace_container_subdiv{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
}
.sidebar_workspace_container div .sidebar_workspace{
    background-color: #FAFAFA;
    height: 90%;
    width: 95%;
    z-index: 10;
}
.sidebar_workspace_container div .sidebar_workspace1{
    background-color: #FAFAFA;
    height: 80%;
    width: 95%;
    position: relative;
    overflow: hidden;
    font-size: .9rem;
    z-index: 10;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.sidebar_workspace_container_subdiv{
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.sidebar_workspace_container label{
    text-align: center;
    padding: 1rem;
    color: #FAFAFA;
}
.sidebar_workspace_container div .darkp{
    color: #222222;
    font-weight: 750;
    font-size: 1.3rem;
}
.sidebar_workspace_container div i{
    color: #222222;
}
.workspace_container{
    min-width: 100%;
    min-height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workspace_container textarea{
    width: 80%;
    height: 150vh;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
}
.workspace_container textarea:focus{
    outline: none;
    border: none;
}
.workspace_container .workspace_input1{
    width: 80%;
    padding: 1rem;
    border: none;
}
.workspace_container .workspace_input2{
    width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    color: #FAFAFA;
    background-color: #F94A04;
}
/*For View Posts*/
.sectioneer{
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    min-height: fit-content;
}
.sectioneer_divcontainer{
    width: 80%;
    background-color: #FAFAFA;
    padding: 1.5rem;
}
.create_editor_container{
    display: flex;
    border: 1px solid #22222286;
    padding: 1rem;
    padding: 1rem 0;
    flex-direction: column;
    background-color: #FAFAFA;
    min-height: fit-content;
    width: 90%;
    height: fit-content;
    align-items: center;
    position: relative;
    justify-content: center;
}
.create_editor_container div{
    padding: 1rem;
    margin: .4rem 0;
    width: 90%;
    min-height: fit-content;
}
.create_editor_container div h1{
    color: black;
    text-align: center;
}
.container_center{
    align-items: center;
    justify-content: center;
}
.create_editor_container div label{
    width: fit-content;
    font-weight: 700;
}
.create_editor_container div .writer_bio{
    padding: 1rem;
    outline: none;
    border: 1px solid #222222;
    min-height: 10vh;
    width: 79%;
}
.create_editor_container div .writer_bio:focus{
    border: 1px solid #F94A04;
}
.create_editor_container div input{
    padding: 1rem;
    border: none;
    border-bottom: 1px solid black;
}
.reginput{
    width: 80%;
    border-bottom: 1px solid black;
}
.create_editor_container div .reginput:focus{
    border-bottom: 2px solid #F94A04;
    outline: none;
}
.createeditor_input-submit{
    width: 80%;
    border: none;
    outline: none;
    margin: 1rem 0;
}
.create_editor_container i{
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}
.create_editor_container i:hover{
    color: red;
}
/*For Edit profile page*/
.editprofile_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #eee;
}
.bigheader{
    font-size: 2.7rem;
    margin-bottom: 1rem;
}
.rightmargin{
    margin-right: .5rem;
}
.createeditor_input-submit{
    padding: 1rem;
    width: 90%;
    cursor: pointer;
    border: none;
    color: #FAFAFA;
    background-color: #F94A04;
}
.flexcolumn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.textarea{
    height: 30vh;
    padding: 1rem;
}
.textarea:focus{
    border: none;
    outline: .5px solid #F93404;
}
/*For add message*/
.message_popup_btns a{
    width: 50%;
    padding: 1rem;
}
.create_editor_container2{
    display: flex;
    border: 1.5px solid #222;
    padding: 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    flex-direction: column;
    background-color: #FAFAFA;
    min-height: fit-content;
    width: 80%;
    height: fit-content;
    align-items: center;
    position: relative;
    justify-content: center;
}
.create_editor_container2 i{
    position: absolute;
    right: 1rem;
    font-size: 2.5rem;
    color: #F94A04;
    top: 1rem;
    cursor: pointer;
}
.create_editor_container2 .message_popup_btns{
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    min-height: fit-content;
    width: 60%;
    flex-wrap: nowrap;
    height: fit-content;
    align-items: center;
}
.create_editor_container2 .message_popup_btns a{
    width: 50%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid #F94A04;
}
.create_editor_container2 .message_popup_contents{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    height: fit-content;
    width: 80%;
}
.message_popup_contents_div1 div{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.create_editor_container2 label{
    width: 100%;
    font-weight: 750;
    margin: 1rem 0;
}
.create_editor_container2 textarea{
    width: 100%;
    height: 50vh;
    margin: 1rem 0;
    padding: 1rem;
}
.create_editor_container2 textarea:focus{
    border: none;
    outline: 1px solid #F94A04;
}
.create_editor_container2 input{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #F94A04;
    color: #FAFAFA;
    border: none;
    outline: none;
    cursor: pointer;
}
.create_editor_container2 input:hover{
    background-color: #F93404;
}
/*For pages/aboutwebsite.php*/
.about_section{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_header {
    padding: 1.5rem 0;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #2222223c;
}
.about_header h1{
    font-size: 2.6rem;
    font-weight: 750;
}
.about_section .about_contents{
    min-height: fit-content;
    padding: 1rem;
    margin: 1rem 0;
}
.about_section .about_section_btn{
    margin: 1rem 0;
    background-color: #F94A04;
    padding: 1rem;
    color: #eee;
    cursor: pointer;
    border: none;
    width: 30%;
}
.about_section .about_section_btn:hover{
    background-color: #F93404;
}
.about_section .about_section_btn i{
    margin-left: .5rem;
}
.about_section .about_editdiv{
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1.5rem;
    background-color: #f5f5f5;
    border: 1px solid #F94A04;
    height: fit-content;
    align-items: center
}
.about_section .about_editdiv input{
    width: 85%;
    color: #eee;
    cursor: pointer;
    border: none;
    background-color: #F94A04;
    padding: 1rem;
    margin: 1rem 0;
}
/*For Pages/topics.php*/
.about_section_topicsdiv{
    display: flex;
    padding: 1.5rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}
.about_section_topicsdiv .about_section_topicsdiv_subdiv{
    height: 60vh;
    width: 25vw;
    margin: 1rem;
    border: 1px solid #22222289;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_section_topicsdiv .about_section_topicsdiv_subdiv:hover{
    border: 1.5px solid #F94A04;
}
.about_section_topicsdiv .about_section_topicsdiv_subdiv img{
    height: 65%;
    width: 100%;
}
.about_section_topicsdiv_subdiv div{
    width: 100%;
    padding: 1rem;
}
.about_section_topicsdiv_subdiv div h1 span{
    font-weight: 750;
    text-align: center;
    font-size: 2.1rem;
}
.about_section_topicsdiv_subdiv div p{
    font-size: 1.3rem;
    color: #222222c6;
}
.about_section_topicsdiv_subdiv div p span{
    font-size: 1.3rem;
    color: #222222c6;
}
.about_section_topicsdiv_subdiv div a{
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 0;
}
.about_section_topicsdiv_subdiv div a i:hover{
    color: #F94A04;
}
.about_section_topicsdiv_subdiv div a i{
    color: #222222be;
}
.about_section_topicsdiv_subdiv-action{
    height: fit-content;
    border: 1px solid #22222289;
    width: auto;
    padding: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_section_topicsdiv_subdiv-action:hover{
    background-color: #F94A04;
    color: #eee;
}
.about_section_topicsdiv_subdiv-action:hover div i{
    color: #eee;
}
.about_section_topicsdiv_subdiv-action div i{
    font-size: 2.5rem;
    color: #222222;
}
@media only screen and (min-width: 39rem) and (max-width: 65rem){
    a, td,span, p, label{
        font-size: 2.2rem;
    }
    .header{
        padding: 1rem 1.5rem;
        min-height: 15vh;
    }
    .header_searchbar{
        height: fit-content;
        width: fit-content;
    }
    .header_img img{
        width: 5rem;
        height: 5rem;
    }
    .body{
        height: calc(100vh - 15vh);
        background-color: #eee;
        overflow-y: scroll;
    }
    .header_img a{
        font-size: 2rem;
    }
    .body .sidebar{
        width: 100%;
        position: relative;
        height: 12vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .body .sidebar .sidebar_footer{
        display: none;
    }
    .body .sidebar div{
        flex-direction: row;
    }
    .body .sidebar div i{
        margin-right: 1.5rem;
        font-size: 2.2rem;
    }
    .aside_sidebar{
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: calc(100% - 12vh);
    }
    .aside_sidebar .aside_sidebar_header{
        font-size: 3rem;
        width: 100%;
    }
    .addtionalinfo .addtionalinfo_header{
        padding: 1.3rem 1rem;
    }
    .website_info_div{
        height: 100%;
    }
    .website_info_div .webinfo_container .website_info{
        width: 15rem;
        height: 15rem;
    }
    .webinfo_container .website_info div i{
        margin-right: .6rem;
        font-size: 2.3rem;
    }
    .addtionalinfo{
       margin-top: 1rem;
    }
    .addtionalinfo .addtionalinfo_header h1{
        font-size: 2.8rem;
    }
    .addtionalinfo_body table tr{
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .profile{
        width: 90%;
        margin-bottom: 1rem;
        padding: 1.5rem;
    }
    .profile figure img{
        height: 15rem;
        width: 15rem;
    }
    .profile_imgbox a i{
        font-size: 2rem;
    }
    .profile_body{
        width: 90%;
    }
    .aside_sidebar .users{
        padding: 1.5rem;
        width: 90%;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    .aside_sidebar .users .users_div_subdiv .users_div_subdiv_subdiv p{
        padding-bottom: 1rem;
    }
    .aside_sidebar .users .users_div_subdiv .users_div_subdiv_subdiv div{
        padding-bottom: 1rem;
    }
    .posts{
        width: 90%;
        margin: 1rem 0;
     }
     .posts .posts_delete_edit2{
        position: fixed;
        height: fit-content;
        min-width: 100%;
        margin-left: var(--sidebar-width);
        bottom: 0;
        padding: 1rem;
        align-items: center;
        justify-content: space-evenly;
    }
     .posts .postsdiv{
        padding: 1.5rem;
        width: 100%;
     }
    .reviews{
        width: 90%;
        padding: 1.5rem;
        background-color: #FAFAFA;
    }
    .reviews .reviewdiv{
        padding: 1.5rem;
        width: 100%;
    }
    .reviewdiv .review_header{
        padding: 1.5rem;
    }
     .revheader{
        font-size: 2.8rem;
     }
     .review_divcontainer{
        padding: 1rem .8rem;
     }
     .review_divcontainer_subdiv1{
        padding: 1.5rem 0;    
    }
    .settings{
        flex-direction: column;
        padding: 1.5rem;
        width: 90%;
    }
    .developer_contact{
        padding: 1.5rem;
        width: 90%;
    }
    .developer_contact h1{
        font-size: 2.5rem;
        padding: 2rem 0;
    }
    .developer_contact p{
        display: flex; 
        width: 100%;
        padding: 1rem 1rem;
    }
    .developer_contact div{
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .developer_contact i{
        font-size: 1.5rem;
    }
    .developer_contact b{
        margin-right: 1rem;
    }
    .developer_contact div a{
        margin-right: 2rem;
    }
    .developer_contact div a i{
        margin-right: .5rem;
    }
    .display{
        display: flex;
    }
    .logout_alert h1{
        font-size: 3.3rem;
    }
    /*For Create New Post page*/
    .newpost_body .newpost_container{
        width: 90%;
    }
    .newpost_container .newpost_subdiv{
        width: 92%;
    }
    .newpost_container .newpost_subdiv p{
        font-size: 1.5rem;
        margin-top: 0;
    }
    .newpost_container .newpost_subdiv span{
        margin-right: .3rem;
    }
    .newpost_container .newpost_subdiv h1{
        font-size: 2.8rem;
    }
    .newpost_container_div3 label{
        width: 13%;
        margin-top: 0;
        font-weight: 750;
    }
    .newpost_container_div3_subdiv2{
        width: 86%;
    }
    .form__label{
        font-weight: 750;
    }
    .newpost_container_div4 label{
        width: 13%;
        font-weight: 750;
    }
    .newpost_container_div4 select{
        width: 87%;
    }
    .newpost_container_div5 label{
        width: 19%;
        margin-top: 0;
        font-weight: 750;
    }
    .newpost_container_div6 label{
        width: fit-content;
        font-weight: 750;
        margin-right: 1.5rem;
    }
    .newpost_container_div7 label{
        padding-bottom: 1rem;
        font-weight: 750;
    }
    .newpost_container_div7 .newpost_container_div7_subdiv2{
        min-width: 100%;
        min-height: 50vh;
        padding: 1rem;
    }
    .newpost_container_div7 .newpost_container_div7_subdiv2:focus{
        outline: 1px solid #F94A04;
    }
    /*Workspace Styles*/
    .sidebar_workspace_container{
        flex-direction: row;
        max-height: fit-content;
    }
    .sidebar_workspace_container div{
        height: 8vh;
        width: 10vw;
        margin-right: 2rem;
    }
    .sidebar_workspace_container div i{
        color: #222222;
        font-size: 2rem;
    }
    .sidebar_workspace_container div p{
        display: none;
    }
    .workspace_container textarea{
        width: 90%;
        outline: none;
        font-size: 2.2rem;
    }
    .workspace_container textarea:focus{
        border: none;
        outline: none;
    }
    .workspace_container .workspace_input1{
        width: 90%;
        margin-top: 1rem;
        border: none;
        font-size: 2.2rem;
    }
    .workspace_container .workspace_input2{
        width: 90%;
        margin-top: 1rem;
    }
    /*For View Posts*/
    .sectioneer_divcontainer{
        width: 90%;
    }
    .postsdiv .posts_header{
        padding: 1.3rem .5rem;
    }
    .postsdiv .posts_header h1{
        font-size: 2.8rem;
    }
    .posts_divcontainer_subdiv .posts_divcontainer_subdiv_body h3 {
        font-size: 2.2rem;
    }
    .create_editor_container{
        padding: 1.5rem;
        width: 90%;
    }
    .create_editor_container div h1{
        font-size: 2.8rem;
    }
    .container_center{
        align-items: center;
        justify-content: center;
    }
    .create_editor_container div label{
        font-weight: 750;
    }
    .create_editor_container div input{
        border-bottom: 1px solid #222222;
    }
    .create_editor_container div input:focus{
        outline: none;
    }
    .createeditor_input-submit{
        width: 90%;
    }
    /*For Edit profile page*/
    .editprofile_container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
    }
    .bigheader{
        font-size: 2.7rem;
        margin-bottom: 1rem;
    }
    .rightmargin{
        margin-right: .5rem;
    }
    .createeditor_input-submit{
        padding: 1rem;
        width: 90%;
        border: none;
    }
    .flexcolumn{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .textarea{
        height: 30vh;
        padding: 1rem;
    }
}